*{
    box-sizing: border-box!important;

}
body, html{
    height: auto;

    margin-right: -0px!important;
    width: 100%;
    padding: 0;
}
body {
    font-family: 'Space Mono', monospace;

    margin:auto;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    text-align: left;
    background-color: #f6f6f6!important;
    display: block;
    margin: 0;
    padding: 0;
    z-index: 2!important;

}
a{
    text-decoration: none;
    background-color: transparent;
    cursor: url('/images/mou.cur'), auto;
    color:#11afbc;
}
p{
    color: black;
}
h1,h2,h3{
    margin-bottom: 20px;
    font-weight: 100px;
    max-width:100%;
    margin-left:10px;
}
.stmt {
    font-family: "Space Mono",monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 78px;
}

/*                              Utility                      */
#container{
    margin:auto;
    max-width :1024px;
    height: auto;
    overflow:auto;
    padding: 0px ;
    text-align: center;

}
div{
    overflow: hidden;
}
/*                               Navbar                     */
#navbar{

    color:white;
    background-color: white;
    overflow: hidden;
    transition: 0.4s;
    /* position: fixed; */
    position: sticky;
    top: 0;;
    width: 100%;
    z-index: 99;
    transition: .4s!important;
    font-family: "Space Mono",monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 1px;


    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    display: block;


}

#navmenu{
    display: flex;
    /* align-items: center;
    justify-content: center; */

    list-style-type:none ;
}
#navmenu li a{
    display: block;
    text-decoration: none;


}
.hamburger{
    background-color:transparent ;
    border:0;
    display: none;
    color:black;
    cursor: pointer;
    font-size:20px;
}
.hamburger:focus{
    outline: none;
}


#logo{
    width: 313.22px;
    height: 50px;
    background-image: url(/images/LOGO_NYC_CTO.png);
    float:left;
    padding: 0;
    /* margin-top: 25px;
    margin-bottom: 25px; */
    box-sizing: border-box;
    background-position: center;
    background-size: contain;
    border:0;
    background-color: transparent;
    transition: all .4s;


}
#navbar {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;

  }
#navmenu{
    list-style-type: none;
    float:right;



}
#navmenu li{
    float:left;
}
#navmenu li a{

    color: #042d36!important;
    text-decoration: none;
    padding-left: 32px;
    text-align: center;
    font-family: "Space Mono",monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;


}
#navmenu li a:hover{
    color: #042d36!important;
    background-color: transparent;
    font-weight: bolder;
}
#navbar-right{
    display: block;

}
#close-burger{
    display: none;
}
@media screen and (max-width: 992px) {

    #logo{
        background-image:url(/images/LOGO_WHITE_AFTER.png)!important;
        width:187.93px!important;
        height: 30px!important;
        margin-top:6px !important;
        margin-left:8px !important;
        /* background-position: center; */
        background-size:cover;
        padding:0;

    }
    #navbar{
    height: 44px!important;
    width: 100%;

    }
    #navmenu{
        margin-top: 8px!important;;
    }
    #navmenu li{
        /* margin-top: auto; */
        margin-right: 8px;
    }
    #navbar li a{
        font-family: "Space Mono",monospace;
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 28px;
    padding-left: 8px;

    text-transform: uppercase;

    }

}
@media screen and (max-width: 844px) {

    .hamburger{
        display: block;
        transition: transform 2.5s ease-in-out !important;
        float:right;
        margin: auto;
        margin:8px!important;
        /* background-color: black; */
        background-image: url(/images/menu-burger.2df49bd0.svg);
        height: 38px;
        width: 36px;
    }
    #navbar{
        height: 54px!important;
        max-width:1024px ;
    }
    #logo{
        margin-top:10px!important;
    }
    #navbar-right {
        display: none;

        width: 100%;

    }
    #navbar-right.show{
        display: block;
    }
    #navbar-right.del{
        display: none;
    }
    #navmenu{
        background-color: #0bb7c2;

        margin:0px;
        position:fixed;
        top: 0%;
        padding-right: 10px;
        height: 48.5vh;
        background-color: #0bb7c2;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex;
        width: 100%;
        /* transition: transform 2.5s ease-in-out !important; */
        transform: translateY(-2%);
    }
    #navmenu li{
        float:none;
        display: block;
        padding:0;
        margin-bottom: 20px;
        background-color: #0bb7c2;
    }
    #navmenu li a{
        color: #042d36!important;
        background-color: transparent;
    }
    #navmenu li a:hover{
        cursor: pointer;
    }
    #close-burger {
        display: flex;
        cursor: pointer;
        vertical-align: middle;
        padding-right: 8px;
        padding-top: 8px;
    }
    .nav-open-active {
        transform: translateY(0%);
    }
    .nav-close-active{
        transform: translateY(-9%);
    }

}
/* Menu Bar */
.menu-icon{
    background-image: url('/images/menu-burger.2df49bd0.svg');
    display: none;
}

  @media screen and (min-width: 992px) {
    #logo{
        max-width: 313.22px;
        max-height: 50px;
        /* background-image: url(/images/LOGO_NYC_CTO.png); */
        float:left;
        padding: 0;
        margin-top:24px;
        /* margin-top: 15px; */
        /* margin-bottom: 26px; */
        box-sizing: border-box;
    }

    #navmenu li {
    /* margin-top:0px!important; */
    }
    #navmenu{
        margin-top: 39px;;
    }
    #navbar{
        height:99px;
    }
    #navbar-right{
        display: block;

    }
    .hamburger{
        display: none;
    }
  }
  /*                              TEXT                                     */
.container1{
    padding-right: 123px;
    max-width :1024px;
    height: auto;
    overflow:auto;
    text-align:  left;
    font-family: "Space Mono",monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 65px;
    line-height: 78px;
    margin:auto;

}

.order{


}
.order h1{
    margin-top: 152px;
    margin-left:0;

}
@media screen and (max-width: 992px) {
    .order h1 {
        margin-top:100px;
        margin-left: 16px;
        font-size: 28px!important;
        line-height: 40px!important;
    }
  }
  @media screen and (max-width: 844px) {
      .order h1{
          margin-top:70px;
          margin-left:12px;
      }
      .container1{
          padding-right: 30px;
      }
  }
  /*                              Container Image                         */
  .container2{
    margin:auto;
    max-width :1024px;
    height: 710px;
    margin-top:67px;
    padding: 0;
    position: relative;
    /* background-color: black; */
}
#float-image-1{
    position: absolute;
    bottom:369px;
    border-top:5px #e1004b solid;

    width: 500px;
    height: 300px;

    z-index: 20;
    background-image: url("/images/Image\ 1\ underlap.png");
    background-size:cover ;
    background-repeat: no-repeat;
    background-position-y: -16px;
}
#float-image-1a{
    position: absolute;
    /* border-top: solid 5px red; */
    bottom:369px;
    width: 500px;
    height: 295px;
    z-index:25;
    background-color: #0bb7c2;
    opacity: .4;
}



#float-image-2a{
    position: absolute;
    bottom:44px;
    z-index: 35;
    right:427px;
    background-color: #0bb7c2;
    opacity: .4;

    width: 330px;
    height: 360px;
}


#float-image-2{
    background-position-y: -4px;
    position: absolute;
    background-image: url("/images/Image\ 2.png");
    background-size:cover ;
    background-repeat: no-repeat;
    width: 331px;
    height: 365px;
    border-top:5px #e1004b solid;
    bottom:44px;
    z-index: 30;
    right:427px;
}
#float-image-3a{
    background-color: #0bb7c2;
    height: 495px;
    width: 325px;
    position: absolute;
    opacity: .4;
    bottom:0px;

    right:0px;
    z-index: 5;
}
#float-image-3{

    border-top:5px #e1004b solid;
    background-image: url("/images/Image\ 3.png");
    background-size:cover ;
    background-repeat: no-repeat;
    width: 325px;
    height: 500px;
    position: absolute;
    bottom:0px;
    right:0px;
    z-index: 0;

}
@media screen and (max-width: 992px) {
    .container2{
        margin-top:40px;
        margin-left: 16px;
        margin-right: 18px;
        height: 400px;

    }
    #float-image-1{
        height: 213px;
        width: 300px;
        bottom:110px;

    }
    #float-image-1a{
        height: 195px;
        width: 300px;
        bottom:125px;

    }
    #float-image-3{
        display: none;
    }
    #float-image-3a{
        width: 0;
    }
    #float-image-2{
        height: 325px ;;
        width: 420px ;;
        bottom:-25px;
        right: 0px ;
    }
    #float-image-2a{
        height: 320px ;;
        width: 420px ;;
        position: absolute;
        bottom:-25px;
        right: 0px ;

    }

}
@media screen and (max-width: 778px) {
    .container2{
        margin-top:40px;
        margin-left: 16px;
        margin-right: 18px;
        height: 500px;

    }
    #float-image-1{
        height: 215px;
        width: 300px;
        bottom:270px;

    }
    #float-image-1a{
        height: 195px;
        width: 300px;
        bottom:285px;

    }
    #float-image-3{
        display: none;
    }
    #float-image-3a{
        width: 0;
    }
    #float-image-2{
        width:180px;
        height:260px;
        bottom:145px;
        right: 0px !important;
    }
    #float-image-2a{
        width:180px;
        height:250px;
        position: absolute;
        bottom:150px;
        right: 0px !important;

    }
}

/*                              Spotlight Container                     */
.conn{
    background-color: #042d36;
    width: 100%;
    height: auto;
    margin-top:345px;


}
.container3{
    /* background-color: #042d36; */
    width: 1024px;
    margin:auto;
    z-index: 1000;

}
#alpha{

    margin:auto;

    height: auto;
    overflow:auto;
    padding: 0px ;
    text-align: left;
    margin-top: -152px !important;
    margin-top: 200px;
    color:#042d36;


}
.container33:hover{
    cursor: url('/images/mou.cur'),url('/images/mou.png');

}
.container33 {
    background-color: #042d36;
    background-color: rgb(255, 255, 255)!important;
    position:absolute;
    max-width: 1024px;
    box-shadow: 0px 0px 1px 0px #888888;
    max-height: 364px;
    margin-left: 15px;
    margin-right: 15px;
    /* margin-right: 100px; */
    /* padding:0; */
    /* margin-left:auto ;
    margin-right: auto; */
}

.contsuper{
    position: relative;
    display: flex;
    max-height:364px ;
    margin:0;
    padding:0;
    max-width: 992px!important;

}
.container33:hover{

    box-shadow:  0 .125rem .25rem;
    transition: all .4s;
    cursor: url('/images/pointer.ab2ab857.svg'),auto;


}
.contsuper:hover .container331  {

    outline: 5px  red solid;

    /* transition: all .2s; */
    /* transition: 0.0000001ms; */

    background-image: url("/images/Screenshot\ 2021-12-17\ 120323.png")!important;


}
.contsuper:hover #spot {
    transition: all .4s;
    color:red;
}
.contsuper:hover #nyc {
    color:red;transition: all .4s;
}
.contsuper:hover #learn {
    color:#042d36;;transition: all .4s;
    background-color:#09728a;
    box-shadow: inset 0px 0px 40px -1px  #13acbb;
        transition: .3s ease-in-out;
    /* background- */
}
 .container331{
    float :left;
    display: inline;
    width: 65%!important;
    margin: 0;
    margin: 32px 0px 32px 32px;
    background-image: url(/images/asas.png);
    width: 300px;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border:0;
    transition: all .25s;

}

.cls{
    max-width: 992px!important;
    max-height:364px !important;
    /* padding-left:20px ; */
    margin: 0;
    padding:32px;
    display: flex;
    flex-direction: column;


}

 #spot{
    font-size: 25px;
    font-family: "Public Sans",sans-serif;
    font-weight: 700!important;
    line-height: 15px!important;
    /* padding-top: 100px!important; */
    font-style: normal;
    letter-spacing: 1px;
}

 #nyc{
    font-size: 30px;
    font-family:'Libre Baskerville', serif;
    line-height: 50px!important;
    font-style: normal;
}
 #learn{
    font-family: "Public Sans",sans-serif;
    font-style: normal;
    font-weight: 700!important;
    font-size: 20px;
    line-height: 30px;

    box-shadow: inset 0px -10px 0px -1px #13acbb;
    transition: .3s ease-in-out;
}

.container332 {
    float:left;
}





@media screen and (min-width:992px) {
    #spot{
        margin-top:6px;
        padding: 0px 0px 38px 0px;
    }
    #nyc{
        /* margin-top:40px; */
        margin:0;
        padding: 0px 0px 60px 0px;
    }
}
@media screen and (max-width: 888px) {
    .contsuper{
        display:block;

        max-width:937px !important;
        min-height: 223px!important;
    }
    .conn{
        margin-top:0px;
        margin-top:70px;

    }
    .container33{
        min-height: 290px;;
        margin-left:12px;
        margin-right:12px;
    }
    .container332 {
        display: block;
        width: 100%;

        /* margin-left: 330px;  */
    /* max-height:364px ; */
    }
    .container331{
        width: 0%;
        display: block;
        height: 0%;
    }

    .container331  {
       width: 00px!important;
       display: none;
       height: 0px!important;

    float: none;
       padding: 0!important;
       margin: 0!important;
    }
    #clr{
        clear:left;
    }
    #spot{
       padding-bottom: 14px;
    }
    #nyc{
        font-size: 20px!important;
        line-height: 32px!important;
    }
    #learn{
        font-size: 18px;
    }
    .spotcov{
        margin-top: 10px!important;
        margin-bottom: 30px;
    }
    .learncov{
        margin-top: 10px;
    }
    .container33 #spot, #nyc {
        font-size: 20px!important;

    }
    .container33 #learn{
        font-size: 18px;


    }

    .contsuper:hover .container331  {
        outline: 0px;


    }
    .cls{
        margin-bottom: 50px!important;

    }

  }
  /*                                  above    Above Footer                                     */
  #focus{
    max-width: 1024px;
    margin:auto;
    background-color: #042d36;
    color: white;
    margin-top: 50px !important;;
    text-align: left;
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
}
#focus h1{
    font-size: 65px;
    font-family: 'Space Mono', monospace;
    font-weight: lighter;
    margin-top:268px;
    padding:0;
    margin-left:15px;

}
.focus1{
    display: inline-block;
    /* margin:15px 0px; */
    /* margin-top:px; */
    

}
.left:hover{

    cursor: url('/images/pointer.ab2ab857.svg'),auto;
    transition: all .4s;

}
.focus1:hover{
    color:#13acbb;

}
.right1:hover{

    cursor: url('/images/pointer.ab2ab857.svg'),auto;
    /* transition: all .4s; */

}
.left:hover  .t1,  .left:hover .t2{
    color:#13acbb!important;
}
.right1:hover  .t1,  .right1:hover .t2{
    color:#13acbb!important;
}

.hoveref {
    color:#13acbb;
    

}

 .t1 {
    font-family: "Public Sans",sans-serif!important;
    text-align: left;

    font-style: normal;
    font-weight: 700;
    font-size: 25px!important;
    line-height: 29px!important;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white!important;
    margin:0;
    padding:0;
    margin-top:5px;

}
.t2 {
    font-family: "Libre Baskerville",serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px!important;
    line-height: 50px!important;
    color: white;
    padding-bottom: 16px!important;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.arrow{
    background-image: url(/images/left-arrow.316f64e9.svg);
    content:" ";
    width: 45px;
    height: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
    margin-left: 10px;
    z-index: 10000;

}
.focus1 img{
    width:250px;
    vertical-align: middle;

    /* position: absolute!important; */
    box-sizing: border-box;


}
/* .hoveref{
    position: relative;
} */
.line{position: absolute;
    height: 5.3px;
    width: 75px;
    
    content: "";
    background-color: #e1004b;
    
    top: 0px;
    left: 0;}

.line1{
    position: absolute;
    height: 5px;
    width: 75px;
    content: "";
    background-color: #e1004b;
    top: -25px;
    right: 0;
}
.left{
    margin-top:10px ;
    float:left;width: 50%;;
    position: relative;
    margin-top:50px;
    
}
.right{
    float:right;
    position: relative;
/* margin-bottom: 80px!important; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right img{
   margin:auto;

}
.left1{
    float:left;
    position: relative;
/* margin-bottom: 80px!important; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.right1{
    float:right;
    width: 47%;
    position: relative;
    margin-top:40px;
  
    padding-left: 0;

}
@media (min-width: 992px){
#focus h1 {
    padding-bottom: 96px!important;
    font-family: 'Space Mono', monospace;

}
}
@media screen and (max-width: 992px){
    .hoveref{

    }
    #focus h1 {
    font-size: 28px!important;
    line-height: 40px!important;
    margin-bottom:20px;
    margin-top:180px;
    margin-left:12px;
    font-family: "Space Mono",monospace;
    font-style: normal;
    font-weight: 400;

}
.t2{
    margin-top:30px;
}
#focus{margin:0;}
.focus1{

    margin-left:16px;
        margin-right:12px;
        padding: 0!important;;
}
.focus1 img{
    position: relative!important;
    --x: 0;
    --y: 120px;
    width: 250px!important;
    height: 250px!important;
    margin:0;
    margin-bottom:20px;
}
}
@media (min-width: 0) and (max-width: 768px){

.focus1 {
    padding-right: 12px;
    padding-left: 12px;

}
.t1 {
    font-size: 20px!important;
    line-height: 23px!important;
}
.t2{
    font-size: 20px!important;
    line-height: 32px!important;
}
.left{
    width: 100%;
    display: block!important;
}
.right{
    width: 100%;


}
.right1{
    width:100%;

}
.left1{
    width:100%;

}

}
/*                                  Image Above Footer                                       */
.fuready{

    background-image: url(/images/Above\ Footer.jpg);
    filter: brightness(40%);
    background-position: center;
    padding: 10px 0px;
    width: 100%;
    align-items: center;
    background-size: cover;
    box-sizing: border-box;
    background-repeat:no-repeat;
    height: 440px;
    position:absolute;
    margin-top:80px;

}
@media screen and (max-width: 992px){
.fuready {
    height: 280px;
    width: 100%;
    margin-top:200px;

    }
}


.tet{
    font-family: "Space Mono", monospace;
    font-style: normal;
    font-weight: 400;
    color: white!important;
    font-size: 65px;
    line-height: 78px;
    text-align: center;
    position: relative;
    margin-top:185px;
    margin-left:0;


}
@media screen and (max-width: 992px){
.tet {
    font-size: 28px!important;
    line-height: 40px!important;
    margin-top:280px;
    margin-left:0px
    }
}
/*                              Upper Footer                                   */
.conn1{
    background-color: #042d36!important;
    width: 100%;

}
#footer-up{
    color:white;
    width:100%;
    
    height: auto;
    padding: 0px ;
    text-align: left;

}
.awe{
    padding-bottom: 54px!important;
    border-bottom:1px white solid;
    padding-top: 20px;
    max-width: 1024px;
    margin:auto;
    
    /* padding-left: 32px; */
}


#beta{
    
    
    
    padding: 10px;
    height: auto;
    color: rgb(255, 255, 255);
    padding:32px 32px 0px 0px;
    white-space: wrap;
    margin:0;
    margin-top: 95px;
    margin-bottom: 10px;
    margin-right : 16px !important;
   /* border-bottom:1px white solid;    */
}
#beta td{
    width:60%;
}

@media screen and (max-width:1112px){
    .awe{

        margin-right: 32px;;
    margin-left: 32px;;

    }
}


@media (min-width: 992px){
.beta {
    padding-left: 32px!important;
    padding-right: 32px!important;
    padding-bottom: 640px!important;
    margin-top: 18px;
    
    }
    .awe{
        width: 100%;

    }
}

#beta #td{
    padding:8px 1px;white-space: wrap;


}

#beta #td:first-child{
    width: 33%!important;
}
@media screen and (max-width: 992px){
    #ome{
        max-width: 950px;
        margin:auto;
    }
    #beta #tr {
    padding-top: 16px;
    display: grid;
}
table #td, #th{
    padding-left: 16px!important;
    padding-right: 16px!important;

}
.beta{
    padding-top: 100px;
    

}

}
table{
    border-collapse: collapse;
    box-sizing: border-box;
    display: table;
    text-indent: initial;
    border-spacing: 2px;
    
    color:white;
    max-width: 1024px;
    margin:auto;

}
#strong {
    font-weight: bolder;
    font:normal;
    white-space: nowrap;

    white-space: wrap;
    margin: 0;
    margin-bottom: 0!important;
    color: inherit;
    box-sizing: border-box;
    line-height: 1.25;
    font-size: 1rem;
    font-family: "Space Mono",monospace!important;
}


@media screen and (max-width: 900px){
    table #tr {
    padding-top: 16px;
    display: grid;
}
table #td {
    width: 100%;
}
}
@media screen and (max-width:768px) {
    .awe{
        margin:0;
        padding-bottom: 16px!important;
    }
    #beta{
        /* margin-right: 150px; */
        margin-top:50px;

    }
    strong{
        border-spacing: 2px;
        line-height: 1.25;
        margin: 0;
        margin-bottom: 0!important;
        color: inherit;
    }
    
    table #td:first-child{
        width: 100%!important;
    }
    table #td{
        /* width: 100%; */
        padding:0!important;
        margin:0px 16px!important;
        line-height: 1.25;
    }


}
/*                              Upper Footer                                   */
.container4{
    padding-bottom:84px!important;

    padding-top: 64px!important;
    color: white;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
    max-width: 1024px!important;
    margin: auto;

}
.list2 li{
    padding:0;
    padding-bottom: 0px!important;
    margin:0;
    line-height: 26px!important;

}
.list2 li a{
    margin:0;
    padding:0;
}
.footer-left{
    position: relative;
    width: 100%;

}
.footer-left img{
    margin-bottom: 0px;
}
.footer-right{
    padding-right:2px ;
}

.footer-right .rig {
    padding-right: px;

}
@media (min-width: 768px){
.footer-left {
    -webkit-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
    max-width: 41.66667%;

}
.footer-right {
position: relative;
width: 100%;
right: 0;
justify-content: flex-end!important;
-webkit-flex: 0 0 58.33333%;
flex: 0 0 58.33333%;
max-width: 58.33333%;


}}
@media (max-width: 768px){
    .footer-left {
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer-right {
        -webkit-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        position: relative;
        width: 100%;
        padding-left: 0;
        margin-left: 0;
        display: block  ;
        box-sizing: border-box;
        position: relative;
        width: 100%;


    }
}


.tmr{
    font-family: 'Public Sans', sans-serif;
    font-size: 16px;
    line-height: 18px;
    padding-top: 32px!important;
    padding-bottom: 28px!important;
    display: block;
    box-sizing: border-box;
}
.list-text, .list2, .list3{
    text-decoration: none;
    text-decoration: underline!important;
    color: #fff!important;
    list-style:none!important;
    padding-top:0 ;
    margin-top:0 ;
    font-size: 16px;
    line-height: 25px;
    font-family: "Public Sans",sans-serif;

}
.list2{
    margin:0;
    padding:0;
}
.rig{padding:0!important;
margin:0;}
.list3{
    padding:0;
    padding-right:76px;
}
.footer-right{

    padding-left:  92px;
    margin: 0;
    display: flex!important;
    font-size: 16px;
    line-height: 18px;
    padding-bottom:64px!important;
    padding-right: 12px;

}


@media (max-width: 766px){
    .list3{
        margin-top:32px;
        padding-right: 32px;
    }
    .footer-right{
        padding-left:12px;padding-bottom: 0!important;
    }
    .list3{
        padding:0;

        margin:0;
        margin-top:36px;
    }
    .container4{
        padding-left:0!important;
        padding-bottom: 20px!important;
        padding-top:32px!important ;
    }
    .footer-left{
        padding-left:16px;
    }
}
.rig{
    padding: none;

    margin: 0;
}
@media (min-width: 0) and (max-width: 768px){
.container4 {
    padding-right: 12px;
    padding-left: 12px;

}
.rig{
    padding-left: 0px!important;
    padding-right: 32px!important;
}}
